*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 280px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
#dice-box {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
#dice-box > canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
}

.page-padding {
  padding: 10px 20px;
}
.box {
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
  border-radius: 7px;
}
.rounded {
  border-radius: 7px;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.gap5 {
  gap: 10px;
}
.gap10 {
  gap: 10px;
}
.gap15 {
  gap: 15px;
}
.gap20 {
  gap: 20px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.flex-shrink {
  flex-grow: 0;
  flex-shrink: 1;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-space-between {
  justify-content: space-between;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-space-between {
  align-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-basis-0 {
  flex-basis: 0;
}
.flex-basis-100 {
  flex-basis: 100%;
}
.flex-basis-half {
  flex-basis: 50%;
}
.flex-basis-quarter {
  flex-basis: 25%;
}
.pointer {
  cursor: pointer;
}
.min-width-0 {
  min-width: 0;
}
.no-input {
  pointer-events: none;
}
